*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul,
ol{
    list-style: none;
}

.container {
    max-width: 1920px;
    background-color: #0A22F4;
    margin: 0 auto;
    height: 1297px;
    flex-wrap: wrap;
    overflow: hidden;
}

header {
    max-width: 1475px;
    height: 91px;
    margin-left: 240px;
    margin-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}
.logo {
	width: 97px;
    height: 55px;
}
.nav-ul {
    display: flex;
}
.nav-li{
    margin-left: 20px;
    padding: 10px;
}
.nav-li a{
    color: white;
}
.contact-li{
    background-color: white;
    width: 160px;
    height: 55px;
    padding: 10px;
    text-align: center;
}
.contact-li a{
    color: #171717;
}



.box {
    margin-top: 140px;
    /* overflow: hidden; */
    display: flex;
	justify-content: center;
    
    
}
.box-left {
    width: 684px;
    height: 595px;
    /* margin-right: 20px; */
    /* margin-left: 10%; */
    /* background-color: brown; */

}
.box-right {
    width: 684px;
    height: 595px;
    /* margin-left: 5%; */
    /* flex: auto; */
    /* background-color: brown; */

}
.box-center {
    width: 707px;
    height: 597px;
    /* margin-left: 5%; */
    /* margin: auto; */
    /* background-color: aqua; */
}

.first-dot{
    max-width: 1920px;
    display: inline-block;
    margin-left: 50px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
    opacity: 1;
}
.dot{
    max-width: 1920px;
    display: inline-block;
    margin-left: 50px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
    opacity: 0.5;
}
.dots {
    padding-left: 30%;
}